<!DOCTYPE html>
<html>

<head>
    <title>PAIflow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <meta charset="utf-8">

</head>

<body class="body">
    <header>
        <h1>PAIflow</h1>
    </header>
    <div class="container-fluid"
        style="display: flex; align-items: center;align-content: center; justify-content: center;overflow: auto; ">
        <div class="row">
            <div class="col">
                <h1>Вопросы</h1>
                <ul class="list-group">
                    {% for question in questions %}
                    <li class="list-group-item">
                        {{question}}
                        <a   data-toggle="collapse" href="paiflow/{{category}}/#collapseQ{{loop.index}}" role="button"
                            aria-expanded="false" aria-controls="collapseQ{{loop.index}}">
                            Изменить
                        </a>
                        <div class="collapse" id="collapseQ{{loop.index}}">
                            <form method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="question" id="InputQuestion" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Принять</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h1>Ответы</h1>
                <ul class="list-group">
                    {% for response in responses %}
                    <li class="list-group-item">
                        {{response}}
                        <a  data-toggle="collapse" href="paiflow/{{category}}/#collapseR{{loop.index}}" role="button"
                            aria-expanded="false" aria-controls="collapseQ{{loop.index}}">
                            Изменить
                        </a>
                        <div class="collapse" id="collapseR{{loop.index}}">
                            <form method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="response" id="InputResponse" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Принять</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>

</html>