<!DOCTYPE html>
<html>

<head>
    <title>PAIflow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <meta charset="utf-8">

</head>

<body style="background-color: blue" class="body">
    <header>
        <h1>NotBot</h1>
    </header>

    <div class="container">
        <div class="row">
            <a href="/paiflow.html">PAIflow</a>
        </div>
    </div>
</body>

</html>