<!DOCTYPE html>
<html>

<head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <meta charset="utf-8">

</head>

<body style="background-color: #ffffff" class="body">
    <header style="color: #ffffff;background-color: #3742fa;">
        <h1>NotBot</h1>
    </header>

    <div class="container-fluid"
        style="display: flex; align-items: center;align-content: center; justify-content: center;overflow: auto; ">

        <div class="row">
            <div class="col">
                <form method="POST">
                    <div class="form-group">
                        <label for="InputToken">Токен сообщества ВК</label>
                        <input type="text" class="form-control" name="VK_token" id="InputToken"
                            placeholder="Введите токен" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Принять</button>
                </form>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <form method="POST">
                    <div class="form-group">
                        <label for="InputToken">Токен приложения Yandex</label>
                        <input type="text" class="form-control" name="YANDEX_token" id="InputToken"
                            placeholder="Введите токен" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Принять</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>