<!DOCTYPE html>
<html>

<head>
    <title>PAIflow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <meta charset="utf-8">

</head>

<body class="body">
    <header>
        <h1>PAIflow</h1>
    </header>



    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            <label for="InputPhrase">Фраза</label>
                            <input type="text" class="form-control" id="InputPhrase" placeholder="Введите фразу">
                        </div>
                        <div class="form-group">
                            <label for="InputCategory">Категория</label>
                            <input type="text" class="form-control" id="InputCategory" placeholder="Введите категорию">
                        </div>
                        <button type="submit" class="btn btn-primary">Принять</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            <label for="InputCategory">Категория</label>
                            <input type="text" class="form-control" id="InputCategory" placeholder="Введите категорию">
                        </div>
                        <div class="form-group">
                            <label for="InputResponse">Ответ</label>
                            <input type="text" class="form-control" id="InputResponse" placeholder="Введите ответ">
                        </div>

                        <button type="submit" class="btn btn-primary">Принять</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>